.container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background: linear-gradient(orange 20%,yellow 30%,blue 10%,black 20%);
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn{
  padding: 15px 25px;
  /* margin: 12px; */
  background-color: aqua;
  color: #fefeaa;
  border: 6px solid red;
  border-radius: 30px;
  margin: 30px 0;
}
.al{
  text-align: center;
}
.btn:hover
{
  background-color: seagreen;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
